body {
    background-color: rgb(141, 226, 198);
}
.main-input-box {
    overflow-x: scroll;
    height: 100px;
    width: 700px;
    line-height: 50px;
    position: absolute;
    top: 30vh;
    left: 50vh;
    font-size: 30px;
    border: 5px solid #757977;
    border-radius: 6px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.help-btn {
    position: absolute;
    bottom: 70px;
    left: 45%;
    height: 50px;
    width: 50px;
    border-color: blue;
    border-radius: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}